@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  background: #0D0D0F;
}

button, a, [role="button"] {
  user-select: none;
  -webkit-user-select: none;
}